# This is where object files go
objs/*
config.h
config.h.in
config.guess
config.sub
configure
Makefile.in
missing
depcomp
install-sh
ltmain.sh
aclocal.m4
autom4te.cache
misc/benchmark
misc/splashtest
misc/blittest

libs/*/*.o
libs/*/*.a
libs/libpng-1.2.8/Makefile
libs/zlib-1.2.3/Makefile
libs/zlib-1.2.3/zconf.h
