# This is where object files go
objs/*
config.h
config.h.in
config.guess
config.sub
configure
Makefile.in
missing
depcomp
install-sh
ltmain.sh
aclocal.m4
autom4te.cache
misc/benchmark
misc/splashtest
misc/blittest
misc/inputtest

libs/*/*.o
libs/*/*.a
libs/freetype-*/objs
libs/libpng-*/Makefile
libs/zlib-*/Makefile
libs/zlib-*/zconf.h
