Source: splashutils
Section: unknown
Priority: optional
Maintainer: Jean-Damien Durand <jeandamiendurand@free.fr>
Build-Depends: debhelper (>= 4.0.0), libpng12-dev, libjpeg62-dev, libfreetype6-dev, libklibc (>= 1.5.7-4+2.6.22.kamikaze5), libklibc-dev (>= 1.5.7-4+2.6.22.kamikaze5), libc6-dev, libmng-dev, libgpmg1-dev, pkg-config
Standards-Version: 3.6.2

Package: splashutils
Architecture: any
Depends: libc6, libfreetype6, libjpeg62, libpng12-0, zlib1g, miscsplashutils, lsb-base, bash, libmng1, sysv-rc, sed, grep, mount
Provides: bootsplash, splashy, usplash, psmisc
Recommends: console-tools
Suggests: initramfs-tools, splashutils-initramfs, splashutils-suspend2-initramfs
Description: Splashutils main package
 Splashutils from Gentoo package

Package: splashutils-dev
Architecture: any
Section: libdevel
Depends: splashutils (= ${Source-Version})
Description: Splashutils dev package
 Splashutils from Gentoo development package

Package: splashutils-initramfs
Architecture: all
Depends: splashutils, initramfs-tools
Suggests: console-tools
Description: Splashutils initramfs hook and script
 Splashutils initramfs hook and script
